# Twitter Hate Speech Analysis - Week 1
## Colin Green, Sean Zhang

### Problem Statement

Social media harassment....

### Data Cleaning

In [2]:
import pandas as pd
import numpy as np
pd.options.display.width = 500


df = pd.read_csv('labeled_data.csv')
df = df.iloc[:,1:]

In [3]:
df.head()

   count  hate_speech  offensive_language  neither  class                                              tweet
0      3            0                   0        3      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      3            0                   3        0      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      3            0                   3        0      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      3            0                   2        1      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      6            0                   6        0      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

### Data Exploration